config NFC_NXP_PN5XX
	bool "NXP PN5XX based driver"
	depends on I2C
	select CRC_CCITT
	---help---
	  NXP PN5XX driver based on I2C.
	  This is a driver to provides I2C access to PN5xx NFC Controller devices